!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title
      Gridalytics - Virtual world.  Real statistics.
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %link{ :href => "/stylesheets/master.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }/
  %body
    .header
      %img{ :src => '/images/gridalytics_logo.png' }
    = catch_content :for_layout
